/* Paramètres généreaux */
@font-face {
  font-family: "font-reg";
  src: url(../assets/fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: "font-bold";
  src: url(../assets/fonts/PlayfairDisplay-ExtraBold.ttf);
}
* {
  padding: 0;
  margin: 0;

}
*::selection  {
  background: #000101;
  color: #fefeff; 
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "font-reg" serif;
  background: #000101;
  color: #fefeff;
  transform: 0.7s ease-in-out;
}
h2 {
  font-size: calc(3rem + 5vw);
  text-align: center;
  color: beige;
  font-family: "font-bold", serif;
  letter-spacing: 3px;
  
}
.title {
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 0;
}
span {
  display: inline-block;
}
a, a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefeff;
  transition: 0.1 linear;
  font-size: calc(0.8rem + 0.8vw);
}
a::after {
  content: "";
  position: absolute;
  width: 100%;
  background: #fefeff;
  height: 1px;
  bottom: -4px;
  left: 0;
  transform-origin: left;
}

a:hover {
  transform: scale(1.06);
color: rgb(217, 217, 217);
}
a:hover::after {
  animation: animLink 1.4s infinite ease-in-out;

}
@keyframes animLink {
  50% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.img {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.6s;
}
.img:hover {
  filter: grayscale(10%);
}
 .line {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: #000101;
  transition: 1s cubic-bezier(0.77,0,0.18,1);
  transform-origin: left;
  transition-delay: 0.65s;
 }
  

/* Paramaitres par ordre d'apparition */

header {
  height: 100vh;
  position: relative;
  margin: 2vw 2vw 0;
}
.links {
  display: flex;
  justify-content: space-between;
}
h1 {
  font-style: calc(2rem + 8vw);
  margin-top: 70px;
  font-family: "font-bold", serif;
  letter-spacing: 6px;
  color: #fefeff;
}
header h2 {
  font-style: calc(1rem + 6.5);
  margin: 18px 0;
  text-align: left;
}
.scroll-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.5vw;
  color: beige;

}